.form-box {
  background-color: rgba(250, 255, 255, 0.625);
  .ant-input {
    height: 56px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #4096ff;
  }
  .ant-checkbox-inner {
    background: transparent;
    border: 1px solid #4096ff;
  }
}
